@import "tailwindcss";

:root {
  /* 🎨 Colores */
  --color-primary: #311B92;
  --color-secondary: #9FA8DA;
  --color-accent: #BBDEFB;
  --color-bg: #FBFBFB;
  --color-text: #151419;

  /* 🧬 Tipografía */
  --font-main: 'Red Hat Display', sans-serif;
  --font-heading: 'Nunito', sans-serif;

  /* 📐 Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 2rem;
  --spacing-lg: 4rem;

  /* 📏 Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
}

body {
  font-family: var(--font-main), sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: var(--spacing-md);
}